<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Face Detection Demo Page</title>
    <link href="style.css" rel="stylesheet" />
</head>
<body id="body">
    <div class="interface-wrapper" :class="{shrink: isShrink}">
        <banner></banner>
        <file-upload v-on:return="handleRetData"></file-upload>
    </div>
    <div id="chart-wrapper" class="chart" :class="{expand: isShrink}">{{detectRes}}</div>
    <!--<image-upload></image-upload>-->
    <script src='common.js'></script>
    <script src='build.js'></script>
</body>
</html>
