<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Face Detection Demo Page</title>
    <link href="style.css" rel="stylesheet" />
</head>
<body id="body">
    <div class="interface-wrapper" :class="{shrink: isShrink}">
        <div class="middle-wrapper">
            <banner></banner>
            <file-upload v-on:return="handleRetData" v-on:start="loadingData"
                         v-on:update="updateTime" v-on:imgreturn="handleImage"></file-upload>
        </div>
    </div>
    <div id="chart-wrapper" class="chart" :class="{expand: isShrink && !ready}">
    </div>
    <span class="close-btn" @click="reset" :class="{close: isShrink, 'img-close': ready}">
        &times;
    </span>
    <div class="upload-mask" v-if="loading">
        <span class="loading-tag" v-if="!isShrink"></span>
        <span class="loading-text" v-html="timing" v-if="!isShrink"></span>
    </div>
    <img :src="imgName" class="res-img" :class="{show: ready}"/>
    <!--<image-upload></image-upload>-->
    <script src='common.js'></script>
    <script src='build.js'></script>
</body>
</html>
