<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Face Detection Demo Page</title>
    <link href="style.css" rel="stylesheet" />
</head>
<body id="body">
    <div class="interface-wrapper" :class="{shrink: isShrink}">
        <div class="middle-wrapper">
            <banner></banner>
            <file-upload v-on:return="handleRetVideo" v-on:start="loadingData"
                         v-on:update="updateTime" v-on:imgreturn="handleRetImage"
                         v-on:detectvideo="handleRetData" v-on:detectimage="handleImage"></file-upload>
        </div>
    </div>
    <div id="chart-wrapper" class="chart" :class="{expand: isShrink && !ready}">
    </div>
    <div class="comment" :class="{expand: isShrink && !ready}">
        <p class="conclusion">Conclusion</p>
        <div class="con-wrapper">
            <div class="con-left">
                <span>experimental data</span>
                <div class="res-val">{{experiment}}</div>
            </div>
            <div class="con-right">
                <span>corrected data</span>
                <div class="res-val">{{corrected}}</div>
            </div>
        </div>
    </div>
    <span class="close-btn" @click="reset" :class="{close: isShrink, 'img-close': ready}">
        &times;
    </span>
    <div class="upload-mask" v-if="loading">
        <span class="loading-tag" v-if="!isShrink"></span>
        <span class="loading-text" v-html="timing" v-if="!isShrink"></span>
    </div>
    <img :src="imgName" class="res-img" :class="{show: ready}"/>
    <!--<image-upload></image-upload>-->
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <script src='common.js'></script>
    <script src='build.js'></script>
</body>
</html>
