* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: all 0.5s ease;
}
html, body {
  height: 100%;
}
.interface-wrapper {
  padding: 50px;
  width: 100%;
  height: 100%;
  background: url('../images/back-3.jpg');
  background-size: cover;
}
.shrink {
  display: inline-block;
  width: 100%;
}
.chart {
  position: absolute;
  top: 0;
  right: -100%;
  width: 50%;
  height: 100%;
}
.expand {
  right: 0;
  opacity: 0.9;
}