* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: all 0.5s ease;
  font-family: "PingFang HK", Microsoft Yahei;
}
html, body {
  height: 100%;
  min-width: 1024px;
  overflow: hidden;
}
.interface-wrapper {
  padding: 50px;
  width: 100%;
  height: 100%;
  background: url('../images/back-3.jpg');
  background-size: cover;
}
.middle-wrapper {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
}
.shrink {
  display: inline-block;
  width: 100%;
}
.chart {
  position: absolute;
  top: 0;
  right: -100%;
  width: 50%;
  height: 80%;
  z-index: 999;
}
.comment {
  position: absolute;
  padding: 0 5%;
  top: 80%;
  right: -100%;
  width: 50%;
  height: 20%;
  z-index: 999;
  background-color: rgba(52, 75, 88, .9);
  color: #fff;
}
.expand {
  right: 0;
  opacity: 1;
}
.con-wrapper {
  display: flex;
  flex-flow: row nowrap;
}
.con-left, .con-right {
  flex: 1;
  text-align: center;
  font-size: 32px;
  color: rgba(0,191,183,1);
}
.con-left span, .con-right span {
  display: block;
  font-size: 16px;
  color: #fff;
}
.res-val {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
}
.upload-mask {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(29, 48, 51, 0.5);
  z-index: 99;
}
.close-btn {
  position: absolute;
  text-align: center;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background-color: rgb(52, 75, 88);
  color: #333;
  border-radius: 50%;
  top: 0;
  right: -110%;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: 9999;
  opacity: 0.5;
  overflow: hidden;
  color: rgba(0,191,183,1);
}
.close-btn:hover {
  cursor: pointer;
  transform: rotateZ(360deg);
  opacity: 0.8;
}
.close {
  right: 0;
}
@keyframes loading {
  from {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(180deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
.loading-tag {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #fff;
  border-right: none;
  animation: loading 1s infinite linear;
  z-index: 99999;
}
.loading-text {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 100px;
  height: 100px;
  z-index: 99999;
  line-height: 100px;
  text-align: center;
  font-size: 24px;
  color: #fff;
}
.res-img {
  width: 60%;
  position: absolute;
  top:0;
  right: 0;
  bottom: 0;
  left: -160%;
  margin: auto;
  z-index: 99999;
}
.img-close {
  right: -80%;
  opacity: 0.7;
}
.show {
  left: 0%;
}